# Conda environment specification
# To import/create a copy of the environment:
#    conda env create -f .environment.yml
name: smif
channels:
- conda-forge
- defaults
- anaconda-platform
dependencies:
- python=3.6
- codecov  # test
- fiona
- flask
- isodate
- networkx
- numpy
- pandas
- pint
- psycopg2
- pyarrow
- pylint  # dev
- pytest  # test
- pytest-cov  # test
- python-dateutil
- requests
- ruamel.yaml
- rtree
- shapely
- sphinx  # docs
- xarray
- pip:
  - better-apidoc  # docs
  - mypy  # dev
  - minio
  - pre-commit  # dev
