name: energy_demand
description: ''
path: models/energy_demand.py
classname: EDMWrapper
inputs:
- name: population
  spatial_resolution: national
  temporal_resolution: annual
  units: people
- name: energy_demand
  spatial_resolution: national
  temporal_resolution: annual
  units: kWh
outputs:
- name: cost
  spatial_resolution: national
  temporal_resolution: annual
  units: million GBP
- name: water_demand
  spatial_resolution: national
  temporal_resolution: annual
  units: Ml
interventions: []
initial_conditions: []
parameters:
- name: smart_meter_savings
  description: The savings from smart meters
  absolute_range: (0, 100)
  suggested_range: (3, 10)
  default_value: 3
  units: '%'
