/**
 * Top-level and utility
 */
html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
*, *::before, *::after {
  box-sizing: inherit;
}
html,
body {
    margin: 0;
    color: #666;
    min-width: 760px;
}
.clearfix:after {
    /* use on containers whose children are floated, to let them contribute
     * to the implicit height
     * - see https://css-tricks.com/snippets/css/clear-fix/
     */
    content: "";
    display: table;
    clear: both;
}
.main-wrapper {
    display: flex;
    align-items: stretch;

    position: absolute;
    top: 92px; /* height of .page-header including padding */
    bottom: 0;
    left: 0;
    right: 0;
}
.content-wrapper {
    padding: 0 1em;
    max-width: 45em;
}
h1 {
    font-size: 1.75em;
    line-height: 1.25;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #006e79;
}
h2 {
    font-size: 1.5em;
    line-height: 1.4;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #006e79;
}
h3 {
    font-size: 1em;
    line-height: 1.4;
    margin-top: 0em;
    margin-bottom: 0.4em;
    color: #006e79;
}
h4 {
    text-transform: uppercase;
    color: #666;
    font-size: 0.75em;
    margin: 1em 0 0;
}
.content-image {
    display: block;
    margin: 1em auto;
    max-width: 100%;
    height: auto;
}
button,
input,
select,
textarea {
	width: 100%;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #666;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
textarea {
    resize: none;
}
